@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
     @font-face {
       font-family: 'mont';
       src: url('./assets/fonts/Montserrat/static/Montserrat-SemiBoldItalic.ttf') format('truetype');
     }

     @font-face {
      font-family: 'tilt';
      font-style: normal;
      font-weight: 600;
      font-display: swap;
      src: url('./assets/fonts/Tilt_Neon/static/TiltNeon-Regular.ttf') format('truetype');
    }
    @font-face {
      font-family: 'marker';
      src: url('./assets/fonts/Permanent_Marker/PermanentMarker-Regular.ttf') format('truetype');
    }

    @font-face {
      font-family: 'poppins';
      src: url('./assets/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
    }
   }